html, body {
  height: 100%;
  z-index: -2;
  background: #000;
}
.App {
  background-position: center;
  background-size: cover;
  text-align: center;
  overflow-x: hidden;
}
.App-logo {
  width: 100%;
  max-width: 400px;
}
.App{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.App-header {
  height: 98.2%;
  background: rgba(0,0,0,0.7);
  padding: 2%;
  color: white;
}
.bg-burger{
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

@keyframes spin-animation {
  0% { transform: rotate(0deg) scale(0.5); }
  50% { transform: rotate(360deg) scale(0.7); }
  100% { transform: rotate(0deg) scale(0.5); }
}
/* - INPUT - */

.FirstInput .hover:hover, .input.search:focus{
  color: #000;
  background: rgba(255,255,255,0.9);
}
.hover.active{
  transition: 0.5s;
  color: #000!important;
  background: rgba(255,255,255,1)!important;
  border-radius: 0px!important;
  width: 100%!important;
  margin: 5px auto;
}
.hover.active:hover{
  color: #999;
}
form{
  padding: 0;
  margin: 0;
  text-align: center;
}
.value-list, .chosen-value{
  width: 100%;
  margin: 10px auto;
}
.value-list{
  list-style: none;
  transition: 2s ease-in-out;
  padding: 0;
  text-align: center;
}
.value-list > li {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-align: center;
  border-radius: 10px;
  height: 23px;
  line-height: 23px;
  font-size: 23px;
  padding: 10px 0;
  margin: 5px auto;
  align-items: center;
  cursor: pointer;
  transition: background-color .3s;
  opacity: 1;
  width: 95%;
}

.chosen-value {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 23px;
  line-height: 23px;
  font-size: 23px;
  padding: 3% 0;
  border: 0px solid transparent;
  transition: .3s ease-in-out;
  border-radius: 10px;
}
.value-list > li, input.chosen-value{
  color: #fff!important;
  background: rgba(255,255,255,0.5);
}
::placeholder{
  color: #fff;
}
/*-------------*/
/*-------------*/
.rest-list{
  list-style: none;
  padding: 0px;
  text-align: center;
  max-height: 150px;
  overflow-y: scroll;
}
.rest-list > li{
  align-items: center;
  margin: 10px auto;
  font-size: 26px;
  line-height: 26px;
}
/*-------------*/
/*-------------*/
